In [1]:
import numpy as np
import pandas as pd

# Series alıştıma

İndexleri default "Ali", "Sibel", ve kendi isminizden oluşan 3 değerlik bir series oluşturun.

In [2]:
isim=pd.Series(["Ali","Sibel","Volkan"])
isim

0       Ali
1     Sibel
2    Volkan
dtype: object

Soru 2 : Indexleri "A" , "B" , "C" , "D" olan ve değerleri 10,20,30,40 olan bir series oluşturun.

In [3]:
deger=pd.Series([10,20,30,40],index=["A","B","C","D"])
deger

A    10
B    20
C    30
D    40
dtype: int64

Soru 3 : İndexlerinde "Breaking Bad" , "Chernobyl" , "Leyla ile Mecnun" , "X-Men"  , "Captain America"  , "Disaster Movie" olan

   Datasında ise 9.4 , 9.3 , 8.8 , 8.4 , 3.8 , 2.1 olan bir seri oluşturun.

In [4]:
movies=pd.Series([9.4,9.3, 8.8, 8.4, 3.8, 2.1], index=["Breaking Bad" , "Chernobyl" , "Leyla ile Mecnun" , "X-Men" , "Captain America" , "Disaster Movie"])
movies

Breaking Bad        9.4
Chernobyl           9.3
Leyla ile Mecnun    8.8
X-Men               8.4
Captain America     3.8
Disaster Movie      2.1
dtype: float64

Soru 4 : donem1_mat adında bir seri oluşturun. Bu serinin içinde "Mert" ,"Esila" ,"Aslı" ,"Burak" ,"Kerem" ,"Yasemin" ,"Hazal" index değerleri olsun,
   Datasında ise 85, 80 , 94 , 74 , 91 , 96 , 70 değerleri olsun.
   
   Bu şekilde donem1 adında öğrencilerin 1.dönem matematik not ortalamalarının tutulduğu bir seri oluşturun.

In [5]:
donem1_mat= pd.Series([85, 80 , 94 , 74 , 91 , 96 , 70],index=["Mert" ,"Esila" ,"Aslı" ,"Burak" ,"Kerem" ,"Yasemin" ,"Hazal"])
donem1_mat

Mert       85
Esila      80
Aslı       94
Burak      74
Kerem      91
Yasemin    96
Hazal      70
dtype: int64

In [6]:
donem1=pd.Series(donem1_mat)
donem1

Mert       85
Esila      80
Aslı       94
Burak      74
Kerem      91
Yasemin    96
Hazal      70
dtype: int64

Soru 5: donem1_mat serisini değerlerine göre büyükten küçüğe sıralayın.

In [7]:
donem1.sort_values(axis=0)

Hazal      70
Burak      74
Esila      80
Mert       85
Kerem      91
Aslı       94
Yasemin    96
dtype: int64

Soru 6: donem1_mat serisinin en düşük not almış 2 öğrencisini getirtin

In [8]:
low_score=donem1.sort_values(ascending=False)
low_score.tail(2)

Burak    74
Hazal    70
dtype: int64

Soru 7: donem1_mat serisinin istatistiksel özelliklerine bakın

In [9]:
donem1.describe()

count     7.000000
mean     84.285714
std      10.045136
min      70.000000
25%      77.000000
50%      85.000000
75%      92.500000
max      96.000000
dtype: float64

Soru 8: donem1_mat serisinin eşsiz değerlerine bakın.

In [10]:
donem1.unique

<bound method Series.unique of Mert       85
Esila      80
Aslı       94
Burak      74
Kerem      91
Yasemin    96
Hazal      70
dtype: int64>

Soru 9: donem1_mat serisinde

Notu 90 ve üstü olanlara 3 puan,

notu 80 ve üstü olanlara 5 puan,

notu 70 ve üstü olanlara 8 puan ekleyin

In [11]:
def ekpuan(x):
  if x>=90:
    return x+3
  elif x >=80:
    return x+5
  else:
    return x+8

In [12]:
donem1.apply(ekpuan)

Mert       90
Esila      85
Aslı       97
Burak      82
Kerem      94
Yasemin    99
Hazal      78
dtype: int64